@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #DBE0DA;
}

section .container {
    position: relative;
    width: 800px;
    height: 500px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 7px 0px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: 2px solid #748C65;
    border-radius: 25px;
    box-shadow: 20px #333;
}

section .container .user {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .container .user .imgBx {
    position: relative;
    width: 50%;
    height: 50%;
    transition: 0.5s;
}

section .container .user .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Aleo {
    font-family: "Aleo", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
    text-shadow: 0px 7px 0px rgba(0, 0, 0, 0.1);
    font-size: 2em;
    padding-left: 50px;
}


section .container .user .formBx {
    position: relative;
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
    transition: 0.5s;
}

form {
    width: 150%;
}

section .container .user .formBx form .btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125%;
    margin-bottom: 25px;
    border: 2px solid #748C65;
    border-radius: 10px;
    background-color: #DBE0DA;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 7px 0px 0px rgba(0, 0, 0, 0.1);
    padding: 10px;
    color: #333;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
}


.form {
    width: fit-content;
}

.help {
    color: #0A77A5;
    padding-left: 100px;
    font-size: medium;
    text-decoration: none;
    text-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
}

section .container .user .formBx form .welcome {
    position: relative;
    margin-top: 20px;
    font-size: 9px;
    letter-spacing: 1px;
    color: #555;
    text-transform: uppercase;
    font-weight: 300;
}

section .container .user .formBx form .welcome a {
    font-weight: 600;
    text-decoration: none;
    color: #677eff;
}

section .container .welcomeBx .formBx {
    left: 0%;
}

section .container.active .welcomeBx .formBx {
    left: 100%;
}

section .container .welcomeBx .imgBx {
    left: 0%;
}

section .container.active .welcomeBx .imgBx {
    left: -100%;
}


@media (max-width: 991px) {
    section .container {
        max-width: 400px;
    }

    section .container .imgBx {
        display: none;
    }

    section .container .user .formBx {
        width: 100%;
    }
}

@media (max-width: 414px) {
    section .container .user .formBx form .btn {
        flex: 1;
        padding: 10px;
        color: #333;
        font-size: 10px;
        letter-spacing: 1px;
        font-weight: 100;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        width: 120%;
        margin-bottom: 25px;
        border: 2px solid #748C65;
        border-radius: 10px;
        background-color: #DBE0DA;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 7px 0px 0px rgba(0, 0, 0, 0.1);

    }
}